<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
	
<div class="container">

	<h1>New Driver</h1>
	<form action="//save" method="post" th:object="${drivers}">
		<label>Driver First Name</label>
		<br/>
		<input type="text" placeholder="First Name" th:field="${drivers.firstName}" style="margin-bottom: 8px;"/>
		<br/>
		
		<label>driver Last Name</label>
		<br/>
		<input type="text" th:field="${drivers.lastName}" placeholder="Last Name"style="margin-bottom: 8px;"/>
		<br/>
		
		<button type="submit" style="margin-top: 30px;">Add driver</button>
	</form>
	
</body>
</html>